.cv-section-DL-slide.V1>.quote,
.cv-section-DL-slide.V1>.quote>p {
    border: none;
    color: #FAFAFA;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.832);
}

.cv-section-DL-slide.V1 .button.left {
    visibility: hidden;
}

.cv-section-DL-slide.V2 .button.right {
    visibility: hidden;
}

.cv-section-DL-slide.V1>div.buttons>button>img {
    filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
}

.cv-section-DL-slide.V2>div.buttons>button>img {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 1));
}

.cv-section-DL-slide.V1 {
    background: radial-gradient(113.30% 46.10% at 40.60% 49.06%, rgba(0, 0, 0, 0.00) 54.83%, rgba(0, 0, 0, 0.617) 100%), url(./images/DL-imageAsset\ 1home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}

.cv-section-DL-slide.V2 {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
}

.cv-section-DL_V2-about {
    width: calc(900px + 10vw);
    --gap: 16px;
    --num-cols: 3;
    --row-height: calc(500px + 10vh);
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: 30% 40% 40%;
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    align-content: center;
    justify-content: center;
}

.cv-section-DL_V2-about>div {
    width: 100%;
    overflow: hidden;
}

.cv-section-DL_V2-about div p {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 10px;
}

.cv-section-DL_V2-about .cv-section-DL_V2-about-image1 {
    /* background-image: url(./images/DL-imageArtboard\ 2HQ_V2.jpg); */
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(177, 177, 177, 0.52);
}

.cv-section-DL_V2-about .cv-section-DL_V2-about-image2 {
/* background-image: url(./images/DL-imageArtboard\ 3HQ_V2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(177, 177, 177, 0.52);
}

.cv-section-DL_V2-about img {
    width: 100%;
}

/* Not working */
@media screen and (max-width: 1024px) {
    .cv-section-DL_V2-about {
        --num-cols: 2;
        --row-height: 200px;
        display: block;
    }

    .cv-section-DL-slide.V1 {
        background-position-x: 0px, -300px;
        background-position-y: 0px, 0px;
    }
}