/* Include new fonts  */

@font-face {
    font-family: "Monoton";
    src: url("./assets/Fonts/Monoton/Monoton-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("./assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url("./assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

/* Variables */

:root {
    ---text-mobile-max-width: calc(230px + 10vw);
}



* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", Sans-serif;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: rgb(31, 31, 31);
    /* padding: 0px 50px 0px 50px; */
    position: relative;
    -webkit-transition: transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    transition: all 0.8s;
}

section p {
    margin-bottom: 2vh;
}

/* .slide {
    padding: 0 10vw;
} */



h1,
h2,
h3 {
    font-size: 1.5rem;
    font-family: "Quicksand", Sans-serif;
}

.quote {
    text-align: center;
    margin-left: auto;
    position: absolute;
    bottom: 10vh;
    left: 77vw;
    max-width: 350px;
    border: solid 1px wheat;
    padding: 10px;
    transform: translate(-50%, -50%);
}

.quote h3,
.quote p,
.quote a {
    font-size: 1.7rem;
    color: wheat;
    font-weight: 400;
    line-height: 3rem;
}

.jobtitle {
    display: none;
    font-size: 2rem;
}

/* Nav changing colour */

.cv-section-Synq-colour {
    background-color: #0c54a6c8;
    color: whitesmoke
}

;

.cv-section-Synq-colour>ul>li>h3 {
    color: whitesmoke
} ;

/* Blink */

/* .blink {
padding: 15px;
text-align: center;
line-height: 50px;
} */


@keyframes blink {
    85% {
        opacity: 0.85;
    }

    95% {
        opacity: .95;
    }

    100% {
        opacity: 1;
    }
}

/* Mobile General */

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        padding: 1%;
    }

    nav a {
        display: none;
    }

    nav .name h1 {
        padding: 0px 0 5px 0px;
    }

    nav li,
    nav li h3,
    nav li,
    a h2 {
        list-style-type: none;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0px 10px;
        text-align: center;
        font-weight: 400;
        color: rgb(15, 15, 15);
    }

    .quote {
        position: absolute;
        bottom: 10vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }

    .quote h3,
    .quote p,
    .quote a {
        font-size: 1.4rem;
        color: wheat;
        font-weight: 400;
        line-height: 2rem;
    }

    .button.bottom {
        transform: translate(-50%, -50%);
        left: 50vw;
    }

    .mobile,
    .cv-section-Piedras_V2-grid.mobile {
        display: none;
    }
}